/** start wrapper **/
.wrapper
{
  height: 55vh;
  background-image: url('../imgs/header-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .content_wrap
{
  flex-direction: row;
  width: 90%;
}
.wrapper .content_wrap .title_nav
{
 width: 50%;
}
.h1,
.choises span
{
  color: var(--heading-Color);
}
.wrapper .content_wrap .title_nav ul li a
{
 text-decoration: none;
 color: green;
 font-size: 1rem;
 font-weight: 500;
}
.wrapper .content_wrap .title_nav ul li i
{
 color: var(--text-color);
}
.wrapper .content_wrap .title_nav ul li a:hover,
.wrapper .content_wrap .title_nav ul li i:hover
{
color: gold;
transition: var(--main-transation) ease-in-out;
}
.choises
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.choises .catg
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.choises .catg .btn
{
    padding: 12px 18px;
    width: fit-content;
    height: 45px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    cursor: pointer;
}
.choises .catg .btn a
{
  text-decoration: none;
  color: var(--main-color);
}
.choises .catg .btn i
{
  color: var(--text-color);
}
.choises .btn:hover
{
transform: translateY(-7px);
transition: var(--main-transation) ease-in-out;
cursor: pointer;
}
.choises .btn a:hover
{
  transition: var(--main-transation) ease-in-out;
  color: gold;
}
/** end wrapper **/

/** start main **/
.main
{ flex-basis: 80%; }
.main .head .paragraph
{
  color: var(--text-color);
  font-size: 1.1rem;
  margin-bottom: 0;
  font-weight: 500;
}
.main .head .paragraph span
{
  color: var(--main-color);
  font-size: 1.2rem;
}
.main .head .menus .show,
.main .head .menus .sort
{
  padding: 10px;
  border: 0.5px solid #ddd;
  margin: 0 5px;
  border-radius: 15px;
  color: var(--text-color);
  position: relative;
}
.main .head .menus .show:hover,
.main .head .menus .sort:hover
{
  transition: var(--main-transation) ease-in-out;
  box-shadow: 0 0 0.5px 0.5px #ddd;
  cursor: pointer;
}
.main .head .menus .show .ul_show,
.main .head .menus .sort .ul_sort
{
  display: none;
  position: absolute;
  z-index: 100000;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 0.5px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  color: var(--text-color);
}
.active
{ color: var(--main-color); font-weight: 500; }
.main .head .menus .show .ul_show li,
.main .head .menus .sort .ul_sort li
{  padding:  15px; }
.main .head .menus .show .ul_show li:hover,
.main .head .menus .sort .ul_sort li:hover
{
  background-color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transation) ease-in-out;
  color: white;
}
.pagination button
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  margin: 5px;
  background-color: #ddd;
}
.pagination button:hover
{
    background-color: var(--main-color);
    transition: var(--main-transation) ease-in-out;
}
.pagination button a
{
  text-decoration: none;
  color: var(--heading-Color);
  font-weight: 500;
}
.pagination button:hover a
{
  color: white;
  transition: var(--main-transation) ease-in-out;
}

.banners
{
  flex-basis: 20%;
}
.category,
.fill_price,
.new_product,
.category .all_catg .main_catg
{
  border: 0.1px solid #ddd;
  box-shadow: 0 0 0px 0.1px #ddd;
  border-radius: 10px;

}

.category .h4,
.fill_price .h4,
.new_product .h4
{
  color: var(--heading-Color);
  border-bottom: 1px solid #ddd;
  padding-bottom: 26px;
  position: relative;
}
.category .h4::before,
.fill_price .h4::before,
.new_product .h4::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #BCE3C9;
    width: 100px;
    height: 2.5px;
}
.category .all_catg .main_catg
{
  padding: 10px 20px;
  width: 85%;
  height: 70px;
  gap:10px;
  text-align: center;
  cursor: pointer;
}
.category .all_catg .main_catg img
{
  width: 30px;
}
.category .all_catg .main_catg button
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 0;
  color: white;
}
.fill_price .h5
{
  color: var(--text-color);
  font-weight: 600;
}
.fill_price .form-range
{
    width: 75%;
    height: 1rem;
    padding: 0;
}
.fill_price .form-range:focus
{
  outline: none;
  border: 0;
}
.fill_price label
{
  color: var(--text-color);
  cursor: pointer;
}
.fill_price .filter
{
  width: 50%;
  border-radius:5px;
}
.fill_price input[type="checkbox"]
{
    appearance:none;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 2px solid #CED4DA;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    position: relative;
}
.fill_price input[type="checkbox"]:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.fill_price input[type="checkbox"]:checked::after {
    display: block;
}
.fill_price  input[type="checkbox"]::after {
    font-family: 'font awesome 6 free';
    font-weight: 900;
    content: '\f00c';
    position: absolute;
    color: white;
    display: none;
}
.new_product .prod .h6
{
  color: var(--heading-Color);
  cursor: pointer;
  font-size: 1.5rem;
}
.new_product .prod .h6:hover
{
  color: var(--main-color);
  transition: var(--main-transation) ease-in-out;
}
.new_product .prod img
{
  width: 70px;
  margin-right: 10px;
}

/** end main **/
@media (max-width : 1199px)
{
  /** start wrapper **/
  .wrapper .content_wrap
  {    flex-direction: column;  }
  .wrapper .content_wrap .title_nav
  {   width: 100%;  }
  .wrapper .content_wrap .title_nav span
  {  text-align: center;  }
  .wrapper .content_wrap .title_nav ul,
  .choises .catg
  {  justify-content: center;  }

  /** end wrapper **/
}
@media (max-width : 767px)
{
  .productt
  {
    flex-direction: column;
  }
}
